/* fix anchor links */

.prose {
    /* h1 {
        @apply -mt-20 pt-20;
    }

    h2::before {
        content: '';
        48px
        @apply -mt-20 pt-32; 
    } */

    .header-anchor {
        @apply no-underline;
    }
}