@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* .language-vue {
    line-height: 1.4!important;
    font-size: 12px!important;
}

.line-numbers {
    padding-top: 12px!important;
} */

@import './prism.css';

@import './line-numbers.postcss';

@import './heading.postcss';

@import './progress.postcss';
