div[class*='language-'] {
  @apply relative;

  pre, pre[class*='language-'] {
      @apply pl-14 border-l text-sm font-mono rounded;
    }
  .line-numbers {
    @apply rounded px-2 absolute top-0 text-right left-0 text-gray-500 font-mono text-sm py-[14px] border-gray-600 border-r;
    background: #111b27;
  }
}
